
.w_load_body_parent{
  position: relative;
}
.w_load_body{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(233, 233, 232, 0.2);
}
.w_load_body .w_load_content{
  position: absolute;
  left: 50%;
  top:50%;
  width: 160px;
  background: #fff;
  border-radius: 5px;
  padding: 20px 0;
  text-align: center;
}
.w_load_body .w_load_content span{
  display: inline-block;
  vertical-align: middle;
}
.w_load_body .w_load_content_text{
  overflow: hidden;
  max-width: 120px;
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.w_load_icon{
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(spinLoading.gif) no-repeat;
}